<div class="container">
    <div class="row">
        <button mat-raised-button color="primary" routerLink="/depense/">Depense</button>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" routerLink="/fournisseur/">Fourniseur</button>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" routerLink="/depense/">Banque</button>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" routerLink="/facture/">Factures</button>
      </div>
</div>
